@import "tailwindcss";

/* Hide scrollbar but keep functionality */
body::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* Selection colors */
::selection {
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}
